.profile {
  width: 80%;
  margin: 30px auto;
}

.heading {
  margin-bottom: 30px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  row-gap: 40px;
}

.grid-item {
  display: flex;
  justify-content: space-between;
}

/* .grid-item label {
  color: var(--eerie-black);
  font-size: var(--fs-7);
  font-weight: var(--weight-600);
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
} */
